<div class="container">
  <h4>Create employee</h4>
  <form [formGroup]="employeeForm">
    <div class="row col-md-12">
      <mat-form-field class="mat-form-field" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
        <mat-error *ngIf="employeeForm.get('username')?.hasError('required')">
          Username needs to be provided.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-form-field" appearance="outline">
        <mat-label>Age</mat-label>
        <input matInput formControlName="age">
        <mat-error *ngIf="employeeForm.get('age')?.hasError('required')">
          Age needs to be provided.
        </mat-error>
        <mat-error *ngIf="employeeForm.get('age')?.hasError('pattern')">
          Age must be a number.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-form-field" appearance="outline">
        <mat-label>Position</mat-label>
        <input matInput formControlName="position">
        <mat-error *ngIf="employeeForm.get('position')?.hasError('required')">
          Position needs to be provided.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row col-md-12">
      <section>
        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!employeeForm.valid">Create</button>
        <button mat-raised-button mat-dialog-close>Cancel</button>
      </section>
    </div>
  </form>
</div>
