<div class="row">
  <div class="employees-header">
    <h1>List of employees</h1>
    <p>Here you can set the list of all employees in the company</p>
  </div>
  <div class="col-md-12" style="margin-bottom: 10px">
    <button mat-mini-fab color="primary" (click)="onAdd()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="col-md-12">
    <table mat-table [dataSource]="employees" class="mat-elevation-z8 employees-table">

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Employee </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Position </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="onDelete(element.dbId)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>
