<div class="row">
  <div class="statistics-header">
    <h1>Statistics about employees</h1>
    <p>Here you can see statistics about count of employees on each position or age groups.</p>
  </div>
  <div class="statistics-position">
    <h2>Information about positions</h2>
  </div>
  <div class="col-md-12">
    <table mat-table [dataSource]="positionStats" class="mat-elevation-z8 table-position">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Position </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> Count </th>
        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Average Age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="posDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: posDisplayedColumns;"></tr>
    </table>
  </div>
  <div class="statistics-age">
    <h2>Information about age groups</h2>
  </div>
  <div class="col-md-12">
    <table mat-table [dataSource]="ageGroupStats" class="mat-elevation-z8 table-age">

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> Count </th>
        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="ageDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: ageDisplayedColumns;"></tr>
    </table>

  </div>
</div>
